@import url('https://fonts.googleapis.com/css2?family=Belgrano&family=Jacquard+24&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
  font-family: "Belgrano", serif;
}

.unifrakturmaguntia {
  font-family: "Jacquard 24", system-ui;
}

.pirateOne {
  font-family: "Playfair Display", system-ui;
}